.post__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem;
	min-height: 400px;
}

h2 {
	font-size: 2rem;
	font-family: 'Lekton', sans-serif;
}

.content {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1rem;
	margin: 1rem 0;
}

button {
	background: #3f51b1;
	color: #ffffff;
	padding: 0.5rem;
	border-radius: 0.75rem;
	font-size: 1rem;
	font-family: 'Noto Sans', sans-serif;
	cursor: pointer;
}

.hide {
	display: none;
}
